{{! login page from bulma documentation with some additions }}
<h2 class="title is-2 has-text-centered">Login</h2>
<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input" id="usernameInput" placeholder="Username" />
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" id="passwordInput" type="password" placeholder="Password" />
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field is-grouped">
      <p class="control">
        <button id="login" class="button is-light">
          Login
        </button>
      </p>
      <p class="control">
        <button id="signup" class="button is-warning">
          Sign up
        </button>
      </p>
    </div>
  </div>
</div>
<script src="/js/login.js"></script>