<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workout Wizards</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
  </head>

  <body>
    <header>
      <h1>Welcome to Workout Wizards</h1>
    </header>
    {{#if boolHomepage}}
      <nav>
        buttons
      </nav>
    {{/if}}
    {{body}}
  </body>

</html>